.horizontal {
   display: block;
   width: 100%;
   overflow-x: scroll;
   box-sizing: border-box ;
}

.horizontal::-webkit-scrollbar{
    display: none;
}

.horizontal{
    -ms-overflow-style: none;
}
.slider_container {
    display: block;
    white-space: nowrap;
}

.item {
   display: inline-block;
   margin-right: 15px;
   /* transition: transform 0.2s; */
   
}
/* 
.item:hover{
    cursor: pointer;
    transform: scale(1.1);
} */