.horizontal_slider {
   background-color: red;
   display: block;
   width: 100%;
   overflow-x: scroll;
   box-sizing: border-box ;
}

.horizontal_slider::-webkit-scrollbar{
    display: none;
}

.horizontal_slider{
    -ms-overflow-style: none;
}
.slider_container {
    display: block;
    white-space: nowrap;
}

.item {
   display: inline-block;
   margin-right: 15px;
}